@import '../../vendor/bootstrap-stylus/stylus/bootstrap.styl'
html, body
    margin 20px

.braille-chart
  background-image:url('braillechart.gif')
  width 375px
  height 238px

.braille-letter
  background-image:url('braillechart.gif')
  width 25px
  height 52px

.braille-a
  background-position 0px -16px

.braille-b
  background-position -29px -16px

.braille-c
  background-position -58px -16px

.braille-d
  background-position -87px -16px

.braille-e
  background-position -116px -16px

.braille-f
  background-position -145px -16px

.braille-g
  background-position -174px -16px

.braille-h
  background-position -203px -16px

.braille-i
  background-position -232px -16px

.braille-j
  background-position -261px -16px

.braille-k
  background-position -290px -16px

.braille-l
  background-position -319px -16px

.braille-m
  background-position -348px -16px

.braille-n
  background-position 0px -79px

.braille-o
  background-position -29px -79px

.braille-p
  background-position -58px -79px

.braille-q
  background-position -87px -79px

.braille-r
  background-position -116px -79px

.braille-s
  background-position -145px -79px

.braille-t
  background-position -174px -79px

.braille-u
  background-position -203px -79px

.braille-v
  background-position -232px -79px

.braille-w
  background-position -261px -79px

.braille-x
  background-position -290px -79px

.braille-y
  background-position -319px -79px

.braille-z
  background-position -348px -79px
