<h1>Alphabet Test</h1>
<p class="well">Below you'll see a braille letter. Simply type in the corresponding letter on the keyboard</p>

<div class="pull-right">Winning streak: {{winningStreak}}</div>
<div class="clearfix"></div>
<hr/>
{{brailleLetter}}
<br/>
{{input type="text" autofocus="autofocus" value=enteredLetter}}
<br/>
{{enteredLetter}}
