<div class="braille-chart"></div>

<hr/>
<table class="table">
  <tr>
    <td>a</td><td><div class="braille-letter braille-a"></div></td>
  </tr>
  <tr>
    <td>b</td><td><div class="braille-letter braille-b"></div></td>
  </tr>
  <tr>
    <td>c</td><td><div class="braille-letter braille-c"></div></td>
  </tr>
  <tr>
    <td>d</td><td><div class="braille-letter braille-d"></div></td>
  </tr>
  <tr>
    <td>e</td><td><div class="braille-letter braille-e"></div></td>
  </tr>
  <tr>
    <td>f</td><td><div class="braille-letter braille-f"></div></td>
  </tr>
  <tr>
    <td>g</td><td><div class="braille-letter braille-g"></div></td>
  </tr>
  <tr>
    <td>h</td><td><div class="braille-letter braille-h"></div></td>
  </tr>
  <tr>
    <td>i</td><td><div class="braille-letter braille-i"></div></td>
  </tr>
  <tr>
    <td>j</td><td><div class="braille-letter braille-j"></div></td>
  </tr>
  <tr>
    <td>k</td><td><div class="braille-letter braille-k"></div></td>
  </tr>
  <tr>
    <td>l</td><td><div class="braille-letter braille-l"></div></td>
  </tr>
  <tr>
    <td>m</td><td><div class="braille-letter braille-m"></div></td>
  </tr>
  <tr>
    <td>n</td><td><div class="braille-letter braille-n"></div></td>
  </tr>
  <tr>
    <td>o</td><td><div class="braille-letter braille-o"></div></td>
  </tr>
  <tr>
    <td>p</td><td><div class="braille-letter braille-p"></div></td>
  </tr>
  <tr>
    <td>q</td><td><div class="braille-letter braille-q"></div></td>
  </tr>
  <tr>
    <td>r</td><td><div class="braille-letter braille-r"></div></td>
  </tr>
  <tr>
    <td>s</td><td><div class="braille-letter braille-s"></div></td>
  </tr>
  <tr>
    <td>t</td><td><div class="braille-letter braille-t"></div></td>
  </tr>
  <tr>
    <td>u</td><td><div class="braille-letter braille-u"></div></td>
  </tr>
  <tr>
    <td>v</td><td><div class="braille-letter braille-v"></div></td>
  </tr>
  <tr>
    <td>w</td><td><div class="braille-letter braille-w"></div></td>
  </tr>
  <tr>
    <td>x</td><td><div class="braille-letter braille-x"></div></td>
  </tr>
  <tr>
    <td>y</td><td><div class="braille-letter braille-y"></div></td>
  </tr>
  <tr>
    <td>z</td><td><div class="braille-letter braille-z"></div></td>
  </tr>
</table>
